* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-title {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.card-body {
  padding: 10px;
  margin: auto;
  background-color: #176B87;
  color:#EEEEEE;
  text-shadow: #11468F 2px 2px;
}